<div class="badge">
  <nz-badge [nzCount]="count()"
            [nzColor]="color()"
            [nzDot]="dot()"
            [nzShowDot]="showDot()"
            [nzOverflowCount]="overflowCount()"
            [nzShowZero]="showZero()"
            [nzStatus]="status()"
            [nzTitle]="title()"
            [nzText]="text()"
            [nzOffset]="offset()"
            [style.padding]="paddingSettings()?.all"
            [style.margin]="marginSettings()?.all">
    <div style="display: inline-block;">
      <ng-content></ng-content>
    </div>
  </nz-badge>
</div>