@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

:root {
  --primary-color: #5974b9;
  --primary-hover-color: #7792d7;
  --focus-color: #5974b980;
  --default-color: #ffffff;
  --danger-color: #dc3545;
  --success-color: #33cc33;
  --info-color: #6495ed;
  --warning-color: #fff8aa;
  --default-hover-color: #f7f7f7;
  --link-hover-color: #5974b9;
  --body-background-color: #ffffff;
  --component-header-background-color: #ebebeb;
  --component-inner-background-color: #ffffff;
  --input-background-color: #ffffff;
  --navbar-background-color: transparent;
  --footer-background-color: #e1e1e1;
  --section-background-color: #ffffff;
  --primary-border-color: #d5d5d5;
  --secondary-border-color: #d5d5d5;
  --footer-border-color: #edf2f0;
  --table-header-background-color: #ffffff;
  --table-background-color: #ffffff;
  --table-hover-color: #e1e1e1;
  --alternative-background-color: #f7f7f7;
  --font-family-primary: Plus Jakarta Sans;
  --font-family-secondary: Helvetica;
  --main-font-size: 14px;
  --title-font-size: 16px;
  --subtext-font-size: 13px;
  --h1-font-size: 72px;
  --h2-font-size: 32px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 20px;
  --h6-font-size: 16px;
  --primary-text-color: #16181b;
  --text-color: #16181b;
  --secondary-text-color: #16181b;
  --h1-color: #16181b;
  --h2-color: #16181b;
  --h3-color: #16181b;
  --h4-color: #16181b;
  --h5-color: #16181b;
  --h6-color: #16181b;
  --alternative-text-color: ;
  --primary-button-text-color: #ffffff;
  --secondary-button-text-color: #343a40;
  --disabled-color: lightgray;
  --disabled-text-color: #6c757d;
  --link-color: #5974b9;
  --margin-x: 5px;
  --padding-x: 5px;
  --card-padding: 24px;
  --height-x: 50px;
  --width-x: 50px;
  --border-radius-x: 4px;
  --footer-height: 200px;
  --page-container-margin: 0px;
  --page-container-margin-top: 0px;
  --page-container-margin-right: 0px;
  --page-container-margin-bottom: 25px;
  --page-container-margin-left: 0px;
  --page-container-padding: ;
  --page-container-padding-top: 0px;
  --page-container-padding-right: 0px;
  --page-container-padding-bottom: 0px;
  --page-container-padding-left: 0px;
  --component-container-margin: ;
  --component-container-margin-top: 0px;
  --component-container-margin-right: 0px;
  --component-container-margin-bottom: 0px;
  --component-container-margin-left: 0px;
  --component-container-padding: ;
  --component-container-padding-top: 0px;
  --component-container-padding-right: 0px;
  --component-container-padding-bottom: 0px;
  --component-container-padding-left: 0px;
  --tag-color: #16181b;
  --placeholder-color: #bfbfbf;
  --margin-2x: 10px;
  --margin-3x: 15px;
  --margin-4x: 20px;
  --margin-5x: 25px;
  --margin-6x: 30px;
  --margin-7x: 35px;
  --margin-8x: 40px;
  --height-2x: 100px;
  --height-3x: 150px;
  --height-4x: 200px;
  --height-5x: 250px;
  --width-2x: 100px;
  --width-3x: 150px;
  --width-4x: 200px;
  --width-5x: 250px;
  --padding-2x: 10px;
  --padding-3x: 15px;
  --padding-4x: 20px;
  --padding-5x: 25px;
  --border-radius-2x: 8px;
  --c-tag-color: #917fb34a;
  --progress-color: #6c84ff;
  --aba-icon-color: #ff9595;
  --aba-primary-color: #5974b9;
  --bg-color-1: #eb916f;
  --bg-color-2: #b9db98;
  --bg-color-3: #96c2e8;
  --bg-color-4: #C9F7FF;
  --box-color: antiquewhite;
  --body-background-color: #f8f9fa;
  --text-muted: #6c757d;
  }